html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #E3E3E3; }

div#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  display: none;
  z-index: 999; }

div#overlay.on {
  display: block; }

div#modal {
  width: 735px;
  height: 418px;
  position: absolute;
  background: #fff;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px 8px 8px 8px; }

div#reddit-comments {
  overflow: auto;
  height: 380px;
  word-wrap: break-word; }

div#reddit-comments p {
  padding: 15px;
  margin: 0; }

div#reddit-comments p:nth-of-type(even) {
  background: #efefef; }

div#modal.hidden {
  display: none; }

div#btn-container {
  background: #40c4ff;
  padding: 8px;
  border-radius: 8px 8px 0px 0px; }

div#btn-container button.close-btn {
  float: right;
  cursor: pointer; }

div#searchfield {
  width: 100%;
  padding: 12px 0px 12px 0;
  background: #ef5350;
  position: fixed;
  top: 0; }

form#domainform {
  width: 735px;
  margin: 0 auto;
  color: #fff; }

form#domainform i {
  position: relative;
  top: 8px;
  margin-right: 8px;
  font-size: 37px; }

form#domainform input[type=text] {
  width: 300px;
  padding: 13px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 10px;
  transition: 0.4s;
  color: #fff; }

form#domainform input[type=text]:focus {
  background: #fff;
  color: black; }

form#domainform input::placeholder {
  color: #fff; }

form#domainform input::placeholder:hover {
  color: black; }

form#domainform select {
  border: none;
  background: transparent;
  padding: 5px;
  width: 100px;
  font-weight: 700;
  outline: 0;
  background: #fff;
  transition: 0.4s; }

form#domainform select option {
  color: black;
  background: #fff; }

div#container-wrapper {
  width: 100%;
  height: 100%; }

div#container {
  width: 735px;
  margin: 0 auto;
  margin-top: 100px; }

div#container.group:after {
  content: "";
  display: table;
  clear: both; }

aside#menu-bar {
  width: 150px;
  min-height: 125px;
  padding: 15px;
  float: left;
  position: fixed;
  font-size: 13px;
  background: #fff;
  border-radius: 8px; }

aside#menu-bar p {
  padding: 0;
  margin: 0; }

aside#menu-bar ul {
  margin: 8px;
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 10px; }

aside#menu-bar ul li {
  margin: 0; }

aside#menu-bar form#leftform li {
  list-style-type: none; }

aside#menu-bar ul#recent-searches {
  width: 150px;
  max-height: 250px;
  overflow-x: scroll;
  word-wrap: break-word;
  margin: 0;
  margin-left: -4px; }

aside#menu-bar ul#recent-searches li {
  list-style-type: none;
  margin-bottom: 8px;
  padding-left: 5px;
  border-left: 3px solid #fdd835; }

aside#menu-bar ul#recent-searches li span.recent-tags {
  font-weight: 700; }

aside#menu-bar button#clear-all-recents {
  border: none;
  background: #fdd835;
  padding: 5px;
  color: black;
  font-weight: 900;
  font-size: 13px;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.4s;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -20px;
  transition: 0.4s;
  outline: none; }

aside#menu-bar button#clear-all-recents:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7); }

div#content {
  width: 550px;
  float: right; }

div#content h3 {
  margin-left: 10px; }

div#content ul.linkList {
  padding: 0px 8px 8px 8px;
  margin: 0px; }

div#content li.listItem {
  padding: 15px;
  margin-bottom: 8px;
  list-style-type: none;
  background-color: #fff;
  border-radius: 8px; }

div#content li.listItem a {
  color: #0094cc; }

div#content li.listItem h2 {
  font-size: 18px;
  margin-top: 0px;
  color: black; }

div#content li.listItem button.commentBtn {
  border: none;
  border: 2px solid #ED4337;
  background: none;
  padding: 5px;
  color: #ED4337;
  font-weight: 700;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.4s; }

div#content li.listItem button.commentBtn:hover {
  background: #ED4337;
  color: #fff; }

div#content img.thumbimg {
  width: 100px;
  transition: 0.4s;
  float: left; }

div#content li.listItem div.linkdetails {
  width: 300px;
  display: inline-block;
  margin-left: 20px;
  color: #808080; }

div#modal.hide {
  display: none; }

/*# sourceMappingURL=style.css.map */
